@model WebApplication.Models.Formation
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Insert">
    <div class="form-horizontal">
        <h4>Formation</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="ecole" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ecole" class="form-control" />
                <span asp-validation-for="ecole" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="dateStart" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="dateStart" class="form-control" />
                <span asp-validation-for="dateStart" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="dateEnd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="dateEnd" class="form-control" />
                <span asp-validation-for="dateEnd" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="userid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="userid" class="form-control" />
                <span asp-validation-for="userid" class="text-danger" />
            </div>
        </div>
       
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

